{{ define "home-projects" }}
    {{ template "home-card" dict "card-content" "home-projects-content" }}
{{ end }}

{{ define "home-projects-content" }}
    <h2 class="text-xl font-bold">Projects</h2>
    <p>Some of my projects</p>
{{ end }}
