{{ define "home-card" }}
    <div
        class="[--shadow:rgba(60,64,67,0.3)_0_1px_2px_0,rgba(60,64,67,0.15)_0_2px_6px_2px] w-4/5 h-auto rounded-2xl bg-white [box-shadow:var(--shadow)] max-w-[300px]"
    >
        {{ template .card-content . }}
    </div>
{{ end }}
