{{ define "home-projects" }}
  {{ block "home-card" . }}
    {{ block "home-card-content" . }}
      <h2 class="text-xl font-bold">Projects</h2>
      <p>Some of the projects that I've made</p>
    {{ end }}
  {{ end }}
{{ end }}
