{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Guoliang Eric Liu">
  <meta name="description" content="Guoliang Eric Liu's portfolio website">
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <title>{{block "title" .}}Guoliang Eric Liu{{end}}</title>
  <link rel="stylesheet" href="/static/css/tailwind.min.css" />
</head>
<body class="bg-gray-100 text-gray-800 h-screen">
  {{template "header" .}}

  <main class="container mx-auto p-4 h-screen">
	  {{template "hero" .}}
  </main>

  {{template "footer" .}}
</body>
</html>
{{end}}
